<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file"
            xsi:type="File"
            layout="${longdate}|${level:uppercase=true}${newline}Logger: ${logger}${newline}ASP.NET Request: ${aspnet-request}${newline}ASP.NET Session: ${aspnet-session}${newline}Message-Exception: ${message} | ${exception}${newline}Stack Trace: ${stacktrace}${newline}"
            header="===== Beginning Log file for ${longdate} ====="
            footer="===== End log file ====="
            encoding="iso-8859-2"
            lineEnding="CRLF"
            maxArchiveFiles="30"
            archiveNumbering="Sequence"
            archiveEvery="Month"
            fileAttributes="Normal"
            fileName="${basedir}/Logs/${level}-${shortdate}.log"
            openFileCacheTimeout="120" />
  </targets>
  <rules>
    <logger name="*" writeTo="file" />
  </rules>
  
</nlog>
