<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <!--<add name="VinCMSEntities" connectionString="metadata=res://*/VinCMSModel.csdl|res://*/VinCMSModel.ssdl|res://*/VinCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VIN-PC\SQLEXPRESS;Initial Catalog=vincms;User ID=uservincms;Password=uservincms;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="VinCMSEntities" connectionString="metadata=res://*/VinCMSModel.csdl|res://*/VinCMSModel.ssdl|res://*/VinCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s03.winhost.com;Initial Catalog=DB_14449_vincms;User ID=uservincms;Password=uservincms;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  
  <system.web>
    <trust level="Full"/>
    <httpRuntime requestValidationMode="2.0"/>
    <membership defaultProvider="VinCmsMembershipProvider">
      <providers>
        <clear/>
        <add name="VinCmsMembershipProvider" 
             type="vinCMS.Infraestructure.Authentication.VinCmsMembershipProvider" 
             maxInvalidPasswordAttempts="5 "/>
      </providers>
    </membership>
    
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>

    
    <customErrors mode="On" defaultRedirect="/error/handleerror/500">
      <error statusCode="403" redirect="/error/handleerror/403"/>
      <error statusCode="404" redirect="/error/handleerror/404"/>
      <error statusCode="500" redirect="/error/handleerror/500"/>
    </customErrors>
    
    
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>

