<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VinCMSEntities" connectionString="metadata=res://*/VinCMSModel.csdl|res://*/VinCMSModel.ssdl|res://*/VinCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VIN-PC\SQLEXPRESS;Initial Catalog=vincms;User ID=uservincms;Password=uservincms;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>